<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
<title>Product Manager</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<style>
body {background-color: powderblue;}

h1   {color: red;}

</style>

<body>
<div align="center">
    
    <div>
    
   		<h1>Profile List</h1>
    	<a href="/new">Create New Product</a>
   
    </div>
    <div>&nbsp;</div>
    
    <div>
    <form th:action="@{/}">
    	Filter:
		<input type="text" name="keyword" required />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="button" value="Refresh" onclick="clearFilter()" />
    </form>
    <div>&nbsp;</div>
    </div>
    <div>
    
        <table border="5" cellpadding="10">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Made In</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.brand}">Brand</td>
                <td th:text="${product.madein}">Made in</td>
                <td th:text="${product.price}">Price</td>
                <td>
                   <a th:href="@{'/edito/' + ${product.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                 </td>   
               
            </tr>
        </tbody>
    </table>
    
    </div>
</div>   
<script type="text/javascript">
	function clearFilter() {
		window.location = '/';
	}

</script>
</body>
</html>